.container {
    margin: auto;
    width: 50%;
    border: 3px solid white;
    padding-left: 450px;
    align-content: center;

}



body {
    background-color: green;
}


@media screen and  (max-width: 800px){
    .container {
        margin: auto;
        width: 50%;
        border: 3px solid white;
        align-content: center;

    }

}